**/.DS_Store
.import/
ProjectFiles/OAuth2/client_secrets.json
ProjectFiles/OAuth2/stored_credentials.pickle
ProjectFiles/OAuth2/token_info.json
ProjectFiles/ChatXP/FlaskAPI/key.dat
LSG_Flask_API/lsg_venv
CutomizerProject/ProjectFiles/Scenes/BackendScripts/client_secret.dat
